*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 10%);
    color: #eee;

}
.header-txt{
    text-align: center;
    margin-block: 3rem;
    font-size: clapm(20px, 8vw, 60px);
}
section{
    height: 100vh;
    font-size: clamp(20px, 15vw, 50px);
    padding: clamp(20px, 5vw, 80px);
    text-align: center;

    /* aligning text to center */
    display: grid;
    place-content: center;
}
section p{
    white-space: pre;
}
.page-progress{
    position: fixed;
    top: 0;
    left: 0;
    height: 7px;
    background: linear-gradient(to right, #b33bfd, #36deff);
    box-shadow: 0px 10px 30px 0px #365bff;
    border-radius: 0 20px 20px 0;
}